@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Josefin Sans", sans-serif;
}

.rosso {
  background-color: purple;
  width: 100%;
}

.bottone {
  background-color: #37176a;
}

.bottone:hover {
  border: 1px solid white;
  background-color: rgb(73, 8, 73);
}

.gradient-nav {
  background: linear-gradient(to right, #3c1773, #19212d);
}

.altezza {
  height: 33rem;
}
